main h1{
    margin-top: 50px;
} 

.titles{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1%;
}

.titles-table{
    color: #daa520;
    text-align: center;
}

.tables{
    margin: 25px 10px;
    width: 80%;
    text-align: center;
}

.editar-cps{
    background-color: #646966b7;
    color: rgb(255, 255, 255);
    padding: 1% 4%;
    /* margin-bottom: 10px; */
    border-radius: 10%;
    text-decoration: none;
}

.adicionar{
    background-color: #18e968b7;
    color: rgb(255, 255, 255);
    padding: 1% 6%;
    border-radius: 10%;
    text-decoration: none;
}

.remover-cps{
    background-color: #e04c27b7;
    color: rgb(255, 255, 255);
    padding: 1% 4%;
    border-radius: 10%;
    text-decoration: none;
}

.icons{
    display: none;
    flex-direction: column;
}


 @media (max-width: 632px) {
    .Button{
        display: none;
        flex-direction: column;
        gap: 5px;
    }

    .icons{
        display: flex
    }
    

}; 